body{
    background: url(../img/background.jpg) no-repeat;
    /* background-size: 100% 100%; */
}
a{
    color: rgb(85, 85, 85);
    text-decoration: none;

}
a:hover{
    color: rgb(79, 134, 41);
    text-decoration: none;
}
i{
    font-size: 30px !important;
    padding: 20px;
}
.container-fluid{
    max-width: 100%;
    padding: 15px;
    margin: 0;
}
.row{
    max-width: 100%;
    padding: 15px;
    margin: 0;
    overflow: hidden;
}
.logo{
    max-width: 80px;
}
.logo img{
    border-radius: 40px;
    max-width: 100%;
}
.group{
    float: right;
}